{% extends 'index.html' %}

{% block conteudo %}
<style>
    .styled-table {
        font-size: 16px;
    }

    .styled-table th, .styled-table td {
        padding: 10px;
    }

    .styled-table tr:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }

    .styled-table .selected {
        background-color: #d1ffd1;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    /* Modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        margin: 10% auto;
        width: 40%;
        border-radius: 10px;
    }

    .close {
        float: right;
        font-size: 28px;
        cursor: pointer;
    }
    .pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination span {
    font-weight: bold;
}

</style>



<h2>Lista de Itens no Estoque de Farmácia.</h2>
<samp>Medicamentos que estão disponíveis.</samp>
<br>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1"> Primeira </a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior </a>
    {% endif %}

    <span> Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> Próxima </a>
        <a href="?page={{ page_obj.paginator.num_pages }}"> Última </a>
    {% endif %}
</div>
<br>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Controlado</th>
            <th>Local</th>
            <th>Observação</th>
            <th>Entrada</th>
            <th>Saída</th>
        </tr>
    </thead>
    <tbody>
        {% for item in page_obj  %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.remedio }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{% if item.controlado %}Sim{% else %}Não{% endif %}</td>
                <td>{{ item.get_local_display }}</td>
                <td>{{ item.observacao }}</td>
                <td><a href="#">Entrada</a></td>
                <td>
                    <button onclick="abrirModal({{ item.id }}, '{{ item.remedio }}')">Saída</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal de Saída -->
<div id="modalSaida" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal()">&times;</span>
        <h2>Registrar Saída - <span id="remedioNome"></span></h2>
        <form id="saidaForm" method="POST">
            {% csrf_token %}
            <input type="hidden" name="item_id" id="item_id">
            
            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidade" id="quantidade" class="form-control" required>

            <label for="responsavel_recebimento">Responsável Recebimento:</label>
            <input type="text" name="responsavel_recebimento" class="form-control" required>

            <label for="responsacel_entrega">Responsável Entrega:</label>
            <input type="text" name="responsacel_entrega" class="form-control" required>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" class="form-control" required>

            <label for="sus">SUS:</label>
            <input type="text" name="sus" class="form-control" required>

            <label for="motivo">Motivo:</label>
            <textarea name="motivo" class="form-control"></textarea>

            <button type="submit">Salvar Saída</button>
        </form>
    </div>
</div>

<script>
    function abrirModal(itemId, remedioNome) {
        document.getElementById("modalSaida").style.display = "block";
        document.getElementById("item_id").value = itemId;
        document.getElementById("remedioNome").innerText = remedioNome;
        document.getElementById("saidaForm").action = "/saida_estoque/" + itemId + "/";
    }

    function fecharModal() {
        document.getElementById("modalSaida").style.display = "none";
    }
</script>

{% endblock %}
