{% extends 'index.html' %}

{% block conteudo %}
<style>
    .styled-table {
        font-size: 22px;
    }

    .styled-table th, .styled-table td {
        padding: 10px;
    }

    .styled-table tr:hover {
        background-color: #f2f2f2; 
        cursor: pointer; 
    }

    .styled-table .selected {
        background-color: #d1ffd1; 
    }

    h2 {
        font-size: 28px; 
        margin-bottom: 20px; 
    }
</style>
<h2>Saídas de Estoque do Mês Atual</h2>

<form method="GET" action="">
    <label for="mes">Mês:</label>
    <select name="mes" id="mes">
        {% for numero, nome in meses.items %}
            <option value="{{ numero }}" {% if numero == mes %}selected{% endif %}>
                {{ nome }}
            </option>
        {% endfor %}
    </select>

    <label for="ano">Ano:</label>
    <input type="number" name="ano" id="ano" value="{{ ano }}" min="2000" max="2100">

    <button type="submit">Filtrar</button>
</form>


<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Remedio</th>
            <th>Responsavel Recebimento</th>
            <th>Responsavel Entrega</th>
            <th>Quantidade</th>
            <th>Data de Saída</th>
        </tr>
    </thead>
    <tbody>
        {% for saida in saidas_estoque %}
        <tr>
            <td>{{ saida.id }}</td>
            <td>{{ saida.item.remedio }}</td>
            <td>{{ saida.responsavel_recebimento }}</td>
            <td>{{ saida.responsacel_entrega }}</td>
            <td>{{ saida.quantidade }}</td>
            <td>{{ saida.data_saida|date:"d/m/Y" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhuma saída registrada este mês.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
